<div class="container">
  
    <h1>Welcome!</h1>
      <p><% flash.each do |key, value|  %>
        <div class="alert alert-<%= key %>" role="alert">
          <p><%= value %> </p>
        </div>
      </p>
      <% end %>

  <div class="row">
    <div class="col-sm-2">
      <h2>Register</h2>
        <form action = "/users" method = "post">
          <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
        <label>First Name</label>
          <input type = "text" name = "user[first_name]" id = "first_name">
        <label>Last Name</label>
          <input type = "text" name = "user[last_name]" id = "last_name">
        <label>Email</label>
          <input type = "text" name = "user[email]" id = "email">
        <label>Password</label>
          <input type = "password" name = "user[password]" id = "password">
          <input type = "submit" value = "Register">
 
        </form>
    </div>
  </div>

  <div class="col">
    <h2>Login</h2>
      <form action = "/sessions" method = "post">
        <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
          <label>Email</label>
            <input type = "text" name = "email" id = "user_email">
          <label>Password</label>
            <input type = "password" name = "password" id = "user_password">
              <input type = "submit" value = "Login">
      </form>
  </div>
</div>