<div class="container">  
    <table class="table">
		<thead>
			<tr>
		    	<th scope="col">Members</th>
		    	<th scope="col">Members!</th>
		    </tr>
		</thead>
		<tbody>
			<% @users_joined.each do |user| %>
			    <tr>
			    	<td><%= @group.user.first_name %></td>
			    	<td><%= @group.name %></td>			    	
		    	</tr>
		    <% end %>
		</tbody>
	</table>
	<a href="/groups">Dashboard</a>
</div>